@media (min-width:768px) and (max-width:991px) {
    #banner h1 {
        font-size: 90px !important;
        line-height: 72px !important;
    }

    #banner .banner-content .ib-video-play img {
        width: 80% !important;
    }

    #ib-sec-two,
    #ib-sec-treatments,
    #ib-sec-steps,
    #ib-sec-seven,
    #ib-sec-eight,
    #ib-sec-faq {
        padding: 80px 0px !important;
    }

    #ib-sec-steps .ib-timeline {
        padding: 0px 25px;
    }

    .timeline-line {
        left: 43px !important;
    }

    .ib-timeline-content:before {
        left: 43px !important;
        top: 20% !important;
        transform: translateX(0px) !important;
    }

    #ib-sec-testimonial {
        padding-bottom: 170px !important;
    }

    #ib-sec-testimonial .testimonial-card {
        margin-top: 80px !important;
    }

    #ib-sec-testimonial .testimonial-card p {
        font-size: 22px !important;
        line-height: 30px !important;
        margin: 38px 0px !important;
    }

    .testimonial-card .slick-prev,
    .testimonial-card .slick-next {
        right: auto !important;
        bottom: -90px !important;
    }

    #ib-sec-counter {
        padding-top: 80px !important;
    }

    #ib-sec-counter .ib-counter-number {
        font-size: 80px !important;
        line-height: 100px !important;
    }

    #ib-sec-nine .content-place {
        width: 100% !important;
        padding: 60px 0px 60px 60px !important;
    }

    #ib-sec-blogs {
        padding-top: 80px !important;
    }

    footer {
        padding-top: 80px !important;
        padding-bottom: 40px !important;
    }

    footer .ib-footer-bottom ul {
        justify-content: center !important;
        column-gap: 20px;
        row-gap: 10px;
    }

    footer .ib-footer-bottom ul li {
        margin-right: 0px !important;
    }

    footer .ib-footer-bottom ul li:first-child,
    footer .ib-footer-bottom ul li:nth-child(2),
    footer .ib-footer-bottom ul li:nth-child(3),
    footer .ib-footer-bottom ul li:last-child {
        order: unset !important;
    }

    footer .ib-footer-bottom {
        margin-top: 50px !important;
    }
}

@media (max-width:767px) {
    .flex-sm-column {
        flex-direction: column !important;
    }

    h1 {
        font-size: 40px !important;
        line-height: 32px !important;
        letter-spacing: 0px !important;
    }

    h2 {
        font-size: 37px !important;
        line-height: 37px !important;
    }

    h3 {
        font-size: 35px !important;
        line-height: 35px !important;
        letter-spacing: 0px !important;
    }

    p {
        font-size: 18px !important;
        line-height: 25px !important;
    }

    .ib-quote {
        width: 34px !important;
        height: 29px !important;
    }

    .ib-btn-outline,
    .ib-btn-brandclr {
        display: block;
        width: 100%;
        text-align: center;
    }

    .ib-btn-white,
    .ib-btn-brandclr {
        padding: 16px 20px !important;
    }

    .ib-btns {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    #banner {
        height: 650px !important;
    }

    #banner .banner-content .ib-video-play {
        bottom: -37% !important;
        right: 50% !important;
        transform: translate(50%, -37%);
    }

    #banner .banner-content .ib-video-play img {
        width: 90% !important;
    }

    #ib-sec-two .content {
        margin-top: 40px !important;
    }

    #ib-sec-two .services-item-heading {
        font-size: 23px !important;
        line-height: 30px !important;
    }
    #ib-sec-two .services .services-content .services-header{
        font-size: 23px !important;
        line-height: 30px !important;
        width: 100%;
        display: block;
    }
    #ib-sec-two .services .services-content .services-header::after{
        right: 0px !important;
        width: 9px !important;
        height: 15px !important;
    }
    #ib-sec-treatments {
        padding-top: 80px !important;
        padding-bottom: 40px !important;
    }

    #ib-sec-treatments .content {
        margin-top: 40px !important;
    }

    #ib-sec-two,
    #ib-sec-steps {
        padding: 80px 0px !important;
    }

    #ib-sec-steps .ib-timeline {
        padding: 0px 15px;
    }

    #ib-sec-steps .ib-timeline .timeline-content-heading {
        font-size: 22px !important;
        line-height: 27px !important;
    }

    .timeline-line {
        top: 30px !important;
        left: 33px !important;
        height: 70% !important;
    }


    .ib-timeline-content:before {
        left: 43px !important;
        top: 14% !important;
        transform: translateX(0px) !important;
    }

    #ib-sec-steps .ib-timeline .timeline-number::before {
        width: 40px !important;
        height: 40px !important;
    }

    #ib-sec-steps .ib-timeline {
        column-gap: 33px !important;
    }

    #ib-sec-testimonial {
        padding-top: 80px !important;
    }

    #ib-sec-testimonial .testimonial-card {
        margin-top: 40px !important;
    }

    #ib-sec-testimonial .testimonial-card .card-item {
        margin-bottom: 30px !important;
    }

    #ib-sec-testimonial .testimonial-card .author .author-stars-place {
        display: flex;
        margin-right: 0 !important;
        column-gap: 10px;
    }

    #ib-sec-testimonial .testimonial-card .author .author-stars-place img {
        height: 16px;
    }

    #ib-sec-testimonial .testimonial-card p {
        margin-top: 16px !important;
        margin-bottom: 40px !important;
    }

    .testimonial-card .slick-prev,
    .testimonial-card .slick-next {
        right: auto !important;
        bottom: -50px !important;
    }

    #ib-sec-counter {
        padding-top: 60px !important;
    }

    #ib-sec-counter .ib-counter-number {
        font-size: 70px !important;
        line-height: 80px !important;
    }

    #ib-sec-seven {
        padding-top: 60px !important;
        padding-bottom: 120px !important;
    }

    #ib-sec-seven .content .ib-card .heading {
        font-size: 20px !important;
        line-height: 28px !important;
    }

    #ib-sec-seven .content .ib-card img {
        height: auto !important;
        object-fit: contain !important;
    }

    #ib-sec-eight {
        padding: 60px 0px !important;
    }

    #ib-sec-eight .content-place .content {
        max-width: 341px !important;
    }

    #ib-sec-nine {
        width: 100%;
        height: 302px !important;
        margin-bottom: 423px !important;
    }

    #ib-sec-nine .content-place {
        width: 100% !important;
        padding: 40px 20px 40px 20px !important;
        transform: translateY(99%) !important;
    }

    #ib-sec-nine .content-place .content p {
        margin-bottom: 50px !important;
    }

    #ib-sec-blogs {
        padding-top: 60px !important;
    }

    #ib-sec-blogs .content .heading {
        font-size: 20px !important;
        line-height: 28px !important;
    }

    #ib-sec-faq {
        padding-top: 100px !important;
        padding-bottom: 64px !important;
    }

    #ib-sec-faq a.heading {
        margin-bottom: 50px !important;
    }

    #ib-sec-faq .accordion-button {
        font-size: 18px !important;
        line-height: 26px !important;
    }

    #ib-sec-faq .accordion-body {
        font-size: 16px !important;
        line-height: 23px !important;
    }

    footer {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
        padding-left: 18px;
        padding-right: 18px;
    }

    footer .footer-logo {
        margin-bottom: 60px;
    }

    .footer-menu-heading-arrow {
        display: block !important;
        transition: transform 0.5s ease-out;
    }

    .ib-footer-menu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
    }

    footer .ib-footer-menu {
        margin-top: 24px;
    }

    .footer-menu-heading-arrow.open {
        transform: rotate(180deg);
    }

    footer .ib-footer-bottom {
        margin-top: 50px !important;
    }

    footer .ib-footer-bottom ul {
        flex-direction: column !important;
    }

    footer .ib-footer-bottom ul li:not(:last-child) {
        margin-bottom: 15px;
    }

    footer .ib-footer-bottom ul li:first-child,
    footer .ib-footer-bottom ul li:nth-child(2),
    footer .ib-footer-bottom ul li:nth-child(3),
    footer .ib-footer-bottom ul li:last-child {
        order: unset !important;
    }
}


@media (min-width:1024px) and (max-width:1300px) {
    .ib-card-slider .slick-next {
        right: 20px !important;
    }

    .ib-card-slider .slick-prev {
        left: -20px !important;
    }

    .ib-card-slider .slick-next:before,
    .ib-card-slider .slick-prev:before {
        width: 50px !important;
        height: 50px !important;
    }

    .ib-card-slider {
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    #ib-sec-testimonial .testimonial-card {
        max-width: 95% !important;
    }
}

@media (max-width:991px) {
    #ib-sec-two .services.active .services-content {
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-start !important;
    }
    #ib-sec-two .services.active .services-content div,
    #ib-sec-two .services.active .services-content img{
        width: 100%;
    }

    .testimonial-card .slick-next {
        left: 40px !important;
    }

    #ib-sec-nine .container {
        padding: 0;
    }

    #header-menu {
        transition: all .7s;
        width: 100%;
    }

    #header-menu.open {
        background-color: #fff;
    }

    #header-menu ul {
        text-align: left !important;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: all .5s;
        background-color: #fff;
        padding-top: 87px;
    }

    #header-menu ul.open {
        transform: translateX(0%);
    }

    #header-menu ul li.header-logo {
        display: none !important;
    }

    #header-menu ul li a {
        color: #000 !important;
    }

    #header-menu ul li a::after {
        filter: invert(1);
    }

    #header-menu ul li {
        display: block !important;
        opacity: 0;
        transform: translateX(100%);
        transition: opacity 0.5s, transform 0.7s;
        margin-right: 0px !important;
        padding: 0px 16px;
        margin-top: 12px;
        margin-bottom: 24px;
    }

    #header-menu ul li.animate-in {
        opacity: 1;
        transform: translateX(0);
    }

    #header-menu ul li.header-logo {
        display: none !important;
    }

    #header-menu .mob-menu {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 99999;
    }

}