* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}

@font-face {
    font-family: HelveticaNowDisplay-Light;
    src: url(../font/HelveticaNowDisplay-Lt.otf);
    font-weight: 300;
}
@font-face {
    font-family: HelveticaNowDisplay-Regular;
    src: url(../font/HelveticaNowDisplay-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: HelveticaNowDisplay-Medium;
    src: url(../font/HelveticaNowDisplay-Md.otf);
    font-weight: 500;
}
@font-face {
    font-family: HelveticaNowDisplay-Bold;
    src: url(../font/HelveticaNowDisplay-Bd.otf);
    font-weight: 700;
}

@font-face {
    font-family: HelveticaNowDisplay-ExtraBold;
    src: url(../font/HelveticaNowDisplay-XBd.otf);
    font-weight: 800;
}

@font-face {
    font-family: HelveticaNowDisplay-Black;
    src: url(../font/HelveticaNowDisplay-Blk.otf);
    font-weight: 900;
}

.ib-full-width {
    padding-right: 0px !important;
    padding-left: 0px !important;
    max-width: 1920px !important;
    overflow-x: hidden;
}

.container {
    max-width: 1140px !important;
}
/* Global CSS Start*/
ul {
    padding-left: 0px;
    margin-bottom: 0;
}

h1 {
    font-family: HelveticaNowDisplay-ExtraBold;
    font-size: 112px;
    font-weight: 800;
    line-height: 94px;
    letter-spacing: -3px;
    text-transform: uppercase;
}

h2 {
    font-family: HelveticaNowDisplay-Black;
    font-size: 56px;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: -2px;
    text-transform: uppercase;
}

h3 {
    font-family: HelveticaNowDisplay-ExtraBold;
    font-weight: 800;
    font-size: 36px;
    line-height: 39px;
    letter-spacing: -1px;
    text-transform: uppercase;
}

h4 {
    font-family: HelveticaNowDisplay-Bold;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.3px;
}

h5,
h5 .accordion-button {
    font-family: HelveticaNowDisplay-Bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.25px;
}

p{
    font-family: HelveticaNowDisplay-Regular;
    font-weight: 400;
}

.ib-btns {
    display: flex;
    column-gap: 16px;
}

.ib-btn-white {
    font-family: HelveticaNowDisplay-Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
    padding: 16px 28px;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    transition: all .3s;
}

.ib-btn-white:hover {
    color: #fff;
    background-color: #EE3333;
}

.ib-btn-brandclr {
    font-family: HelveticaNowDisplay-Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
    padding: 16px 28px;
    background-color: #EE3333;
    text-decoration: none;
    text-align: center;
    transition: all .3s;
    text-transform: uppercase;
}

.ib-btn-brandclr:hover {
    color: #000;
    padding: 16px 28px;
    background-color: #fff;
}

.ib-btn-outline {
    border: 1px solid #000;
    padding: 16px 28px;
    color: #000;
    text-decoration: none;
    font-family: HelveticaNowDisplay-Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    transition: all .3s;
    text-transform: uppercase;
}

.ib-btn-outline:hover {
    color: #fff;
    background-color: #EE3333;
    border-color: #EE3333;
}

.ib-card-slider .slick-slide img {
    width: 100%;
}

.ib-card-slider .slick-prev {
    left: -80px;
    z-index: 99999;
}

.ib-card-slider .slick-next {
    right: -70px;
    z-index: 99999;
}
.ib-card-slider .slick-prev,
.ib-card-slider .slick-next{
    background-color: #fff;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.ib-card-slider .slick-prev:before {
    content: "";
    background-image: url(../images/prev-Button.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 10px;
    height: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ib-card-slider .slick-next:before {
    content: "";
    background-image: url(../images/next-Button.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 10px;
    height: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ib-card-slider .slick-dots {
    bottom: -50px;
}

.ib-card-slider .slick-dots li button:before {
    color: #000;
    font-size: 10px;
}

.ib-card-slider .slick-dots li.slick-active button:before {
    color: #F1F1F1;
}

.testimonial-card .slick-prev,
.testimonial-card .slick-next {
    bottom: 0;
    top: auto;
    left: auto;
    z-index: 99999;
}

.testimonial-card .slick-prev {
    right: 11px;
}

.testimonial-card .slick-prev:before {
    content: "";
    background-image: url(../images/arrow_back.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
}

.testimonial-card .slick-next:before {
    content: "";
    background-image: url(../images/arrow_forward.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
}

.testimonial-card .slick-dots {
    bottom: -60px;
}

.testimonial-card .slick-dots li button:before {
    color: #EE3333;
    font-size: 10px;
}

.testimonial-card .slick-dots li.slick-active button:before {
    color: #EE3333;
}

button {
    background: transparent;
    border: none;
}


.mob-slider .slick-dots li button:before{
    color: #F1F1F1 !important;
    font-size: 10px;
}
.mob-slider .slick-dots li.slick-active button:before{
    color: #000 !important;
}

.mob-slider .slick-dots{
    bottom: -46px !important;
}
.mob-slider .slick-prev, 
.mob-slider .slick-next{
    top: auto;
    bottom: -88px;
    width: auto;
    background-color: #F1F1F1;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    z-index: 999999;
}
.mob-slider .slick-prev{
    left: 16px !important;
}
.mob-slider .slick-next{
    right: 16px !important;
}
.mob-slider .slick-next:before{
    content: "";
    background-image: url(../images/next-Button.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 10px;
    height: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mob-slider .slick-prev:before{
    content: "";
    background-image: url(../images/prev-Button.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 10px;
    height: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.short-text-bef-heading{
    font-family: HelveticaNowDisplay-ExtraBold;
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.list-check{
    list-style-type: none;
}
.list-check li{
    padding-left: 34px;
    position: relative;
    font-family: HelveticaNowDisplay-Regular;
    font-weight: 400;
}
.list-check li::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    background-image: url(../images/list-check.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: block;

}
/* Global CSS End*/



#header-menu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    padding: 20px 0px;
}
#header-menu.scroll{
    position: fixed !important;
    background-color: #fff;
    transition: all 0.5s;
}
#header-menu.scroll ul.ib-main-menu li a{
    color: #000;
}
/* #header-menu.scroll ul.ib-main-menu li.header-logo,
#header-menu.scroll ul.ib-main-menu li:first-child a::after,
#header-menu.scroll ul.ib-main-menu li:last-child a::after,
#header-menu.scroll .mob-menu .header-logo-mob{
    filter: invert(1);
} */

#header-menu.scroll .hamburger::before, 
#header-menu.scroll .hamburger::after, 
#header-menu.scroll .hamburger .hamburger-icon::before, 
#header-menu.scroll .hamburger .hamburger-icon::after{
    background: #000 !important;
}

#header-menu nav ul.ib-main-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#header-menu ul.ib-main-menu li{
    display: inline-block;
}

#header-menu ul.ib-main-menu li a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: HelveticaNowDisplay-Regular;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    position: relative;

}

#header-menu ul.ib-main-menu li:first-child{
    margin-right: 20px;
} 
#header-menu ul.ib-main-menu li:first-child a::after{
    content: "";
    background-image: url(../images/down-arrow-black-menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 12px;
    height: 8px;
    display: block;
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-50%);
}
#header-menu ul.ib-main-menu li:nth-child(4){
    margin-left: 41px;
}
#header-menu ul.ib-main-menu li:last-child{
    margin-right: 35px;
}
#header-menu ul.ib-main-menu li:last-child a::after{
    content: "";
    background-image: url(../images/right-arrow-black-menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: -32px;
    top: 50%;
    transform: translateY(-50%);
}
#header-menu .mob-menu{
    display: none;
}

/* #header-menu ul li.ib-sub-menu{
    position: relative;
} */

.sub-menu-content {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    /* background: linear-gradient(90deg, #fff 50%, #f1f1f1 50%) !important; */
    width: 100vw;
    height: 100vh;
}
/* .sub-menu-content div{
    flex-basis: 50%;
} */

.sub-menu-content .show-services{
    background-color: #fff;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.sub-menu-content .treatments-menu{
    background-color: #f1f1f1;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.sub-menu-content .treatments-menu ul{
    width: 50%;
}
.sub-menu-content .treatments-menu ul li{
    display: block !important;
}
.sub-menu-content .treatments-menu ul li a{
    color: #000 !important;
    text-align: left;
}
#header-menu ul li.ib-sub-menu .sub-menu-content{
    display: none;
}
#header-menu ul li.ib-sub-menu:hover .sub-menu-content{
    display: flex;
}

/* banner start */
#banner {
    background-size: cover !important;
    height: calc(85vh + 200px);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    
}
.homepage{
    max-height: 1086px;
}

#banner h1 {
    max-width: 1043px;
    margin-bottom: 24px;
    color: #fff;
}

#banner p {
    font-family: HelveticaNowDisplay-Regular;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.25px;
    color: #fff;
    max-width: 752px;
    margin-bottom: 48px;
}

#banner .banner-content-bottom {
    position: relative;
    margin-bottom: 150px;
}

#banner .banner-content-center {
    position: relative;
}

/* banner end */


#ib-sec-two {
    padding: 120px 0px;
}

#ib-sec-two .section-header {
    max-width: 849px;
}

#ib-sec-two .section-header h2{
    color: #000;
}

#ib-sec-two .section-header p {
    font-family: HelveticaNowDisplay-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #505050;
    margin-top: 16px;
}

#ib-sec-two h3{
    color: #B8B8B8;
    text-transform: uppercase;
}
#ib-sec-two .content{
    margin-top: 60px;
}
#ib-sec-two .content .services{
    border-bottom: 1px solid #B8B8B8;
    padding: 16px 0px;
}
#ib-sec-two .services .services-content .services-header{
    font-family: HelveticaNowDisplay-ExtraBold;
    font-size: 36px;
    font-weight: 800;
    line-height: 39px;
    color: #211C1C;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
#ib-sec-two .services .services-content .services-header:hover{
    color: #F71E33;
}
#ib-sec-two .services .services-content .services-header::after{
    content: "";
    background-image: url(../images/right-arrow-red.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
    height: 22px;
    display: block;
    position: absolute;
    right: -32px;
    top: 50%;
    transform: translateY(-50%);
}

#ib-sec-two .services .services-content p{
    font-family: HelveticaNowDisplay-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #505050;
    max-width: 569px;
    margin-top: 9px;
}

#ib-sec-two .services .services-content {
    display: flex;
    align-items: center;
    column-gap: 32px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s;
}

#ib-sec-two .services.active .services-content {
    opacity: 1;
    max-height: 100%;
}

#ib-sec-two .services.active .services-item-heading {
    display: none;
}






#ib-sec-treatments {
    padding: 120px 0px;
    background-color: #F1F1F1;
}
#ib-sec-treatments h2{
    color: #000;
}
#ib-sec-treatments .content {
    margin-top: 60px;
}

#ib-sec-treatments .ib-card-slider .slick-track {
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
}

#ib-sec-treatments .content .card-item img {
    margin-bottom: 32px;
}

#ib-sec-treatments .content .category {
    background-color: #ffffff;
    padding: 2px 12px;
    border-radius: 40px;
    font-family: HelveticaNowDisplay-Regular;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8px;
    color: #505050;
    margin-right: 12px;
}

#ib-sec-treatments .content .heading {
    color: #000;
    font-family: HelveticaNowDisplay-Bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.25px;
    text-decoration: none;
}

#ib-sec-treatments .content p.excerpt {
    font-family: HelveticaNowDisplay-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #505050;
    margin-top: 12px;
}



/* steps section start */
#ib-sec-steps {
    padding: 120px 0px;
}
#ib-sec-steps.ib-section-light{
    background-color: #F1F1F1;
}

#ib-sec-steps h2 {
    color: #000;
    margin-bottom: 40px;
}

#ib-sec-steps .ib-timeline {
    column-gap: 48px;
    position: relative;
}

#ib-sec-steps .ib-timeline:not(:last-child) {
    margin-bottom: 40px;
}

/* #ib-sec-steps .ib-timeline:not(:last-child)::after{
    content: "";
    position: absolute;
    top: 49%;
    left: 1%;
    border: 1px solid #D92827;
    height: 86%;
} */
.ib-timeline-content {
    position: relative;
}

.ib-timeline-content:before {
    content: "";
    position: absolute;
    left: 3%;
    top: 20%;
    height: 60%;
    z-index: 0;
}

.timeline-line {
    position: absolute;
    top: 5px;
    left: 18px;
    width: 1px;
    background: rgba(217, 40, 39, .2);
    transform: translateX(-50%);
}

.timeline-line-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #D92827;
}

#ib-sec-steps .ib-timeline .timeline-number {
    font-family: HelveticaNowDisplay-Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    position: relative;
    height: 24px;
    margin-top: 17px;
    color: #000;
}

.timeline-number.active {
    color: #ffffff !important;
}

.timeline-number.active::before {
    background-color: #D92827 !important;
}

#ib-sec-steps .ib-timeline .timeline-number span {
    position: relative;
    z-index: 2;
}

#ib-sec-steps .ib-timeline .timeline-number::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #D92827;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    z-index: 1;
}
#ib-sec-steps.ib-section-light .ib-timeline .timeline-number::before {
    background-color: #F1F1F1;
}
#ib-sec-steps.ib-bg .ib-timeline .timeline-number::before {
    background-color: #fff;
}
.timeline-content {
    opacity: 0;
    transform: translateX(100%);
}

.timeline-number.active+.timeline-content {
    opacity: 1;
    transform: translateX(0%);
}

#ib-sec-steps .ib-timeline h4 {
    margin-bottom: 8px;
    color: #000;
}

#ib-sec-steps .ib-timeline .timeline-content-text {
    font-family: HelveticaNowDisplay-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
}

/* steps section end */

/* testimonial section start */
#ib-sec-testimonial.home-testimonials {
    background: url(../images/testimonial\ with\ heading.png) no-repeat center;
    background-size: cover;
    padding: 120px 0px;
}

#ib-sec-testimonial .content-header h2 {
    color: #fff;
}

#ib-sec-testimonial .content-header h2 span {
    color: #EE3333;
    display: block;
}

#ib-sec-testimonial .content-header p {
    font-family: HelveticaNowDisplay-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
}

#ib-sec-testimonial.home-testimonials .testimonial-card {
    margin-top: 160px;
}

#ib-sec-testimonial .testimonial-card .card-item {
    max-width: 848px;
}

#ib-sec-testimonial .testimonial-card .slick-slide {
    margin: 0 12px;
}

.ib-quote {
    background: url(../images/quote.png) no-repeat center;
    background-size: cover;
    width: 58px;
    height: 50px;
}

#ib-sec-testimonial .testimonial-card p {
    font-family: HelveticaNowDisplay-Regular;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    margin: 48px 0px;
}
#ib-sec-testimonial.home-testimonials .testimonial-card p {
    color: #fff;
}

#ib-sec-testimonial .testimonial-card .author .flex-sm-column {
    flex-direction: column;
}

#ib-sec-testimonial .testimonial-card .author .author-stars-place {
    padding-left: 12px;
    border-left: 1px solid #EE3333;
    margin-right: 64px;
}

#ib-sec-testimonial .testimonial-card .author .author-stars-place .stars-heading {
    font-family: HelveticaNowDisplay-Bold;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
#ib-sec-testimonial.home-testimonials .testimonial-card .author .author-stars-place .stars-heading{
    color: #fff;
}
/* testimonial section end */


/* counter section start */
#ib-sec-counter {
    padding-top: 100px;
    padding-bottom: 60px;
}

#ib-sec-counter .ib-counter-number {
    font-family: HelveticaNowDisplay-Black;
    font-size: 100px;
    font-weight: 900;
    line-height: 128px;
    letter-spacing: -2px;
    color: #D92827;
}

#ib-sec-counter .ib-counter-text {
    font-family: HelveticaNowDisplay-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #505050;
    max-width: 260px;
}

/* counter section end */


/* section seven start */
#ib-sec-seven {
    padding: 100px 0px;

}
#ib-sec-seven .content-header h2{
    color: #000;
}
#ib-sec-seven .content-header p {
    font-family: HelveticaNowDisplay-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    max-width: 771px;
    color: #505050;
    margin-top: 16px;
}

#ib-sec-seven .content {
    overflow-x: visible;
    flex-wrap: nowrap;
}

#ib-sec-seven .content .ib-card img {
    width: 100%;
    height: 459px;
    object-fit: cover;
}

#ib-sec-seven .content .ib-card .heading {
    font-family: HelveticaNowDisplay-Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.25px;
    color: #000;
    max-width: 645px;
    margin-top: 24px;
}

#ib-sec-seven .content .ib-card p {
    font-family: HelveticaNowDisplay-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #505050;
    max-width: 645px;
    margin-top: 8px;
}


#ib-sec-seven .container{
    padding: 0px;
}
#ib-sec-seven .slick-slide,
#ib-sec-seven .content-header{
    margin-left: 12px;
    margin-right: 12px;
}

#ib-sec-seven .ib-scroll-trigger{
    padding-top: 70px !important;
}

/* #ib-sec-seven .slick-dots li button:before{
    color: #F1F1F1 !important;
    font-size: 10px;
}
#ib-sec-seven .slick-dots li.slick-active button:before{
    color: #000 !important;
}

#ib-sec-seven .slick-dots{
    bottom: -46px !important;
}
#ib-sec-seven .slick-prev, 
#ib-sec-seven .slick-next{
    top: auto;
    bottom: -88px;
    width: auto;
    background-color: #F1F1F1;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    z-index: 999999;
}
#ib-sec-seven .slick-prev{
    left: 16px;
}
#ib-sec-seven .slick-next{
    right: 16px;
}
#ib-sec-seven .slick-next:before{
    content: "";
    background-image: url(../images/next-Button.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 10px;
    height: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#ib-sec-seven .slick-prev:before{
    content: "";
    background-image: url(../images/prev-Button.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 10px;
    height: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */


/* section seven end */

/* section eight start */
#ib-sec-eight {
    background-color: #F1F1F1;
    padding: 120px 0px;
}

#ib-sec-eight .content {
    max-width: 461px;
}

#ib-sec-eight h2 {
    margin-bottom: 16px;
    color: #000;
}

#ib-sec-eight p {
    font-family: HelveticaNowDisplay-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #505050;
    margin-bottom: 55px;
}

/* section eight end */

/* section nine start */
#start-best-life {
    position: relative;
    height: 899px;
    margin-bottom: 256px;
}
#start-best-life.ib-home{
    background: url(../images/image21.png) no-repeat center;
    background-size: cover;
}
#start-best-life.ib-treatments{
    background: url(../images/treatments-start-life.png) no-repeat center;
    background-size: cover;
}
#start-best-life .content-place {
    background: url(../images/blackbox.png) no-repeat center;
    background-size: cover;
    padding: 82px 0px 77px 97px;
    width: 1530px;
    overflow-x: visible;
    transform: translateY(50%);
}

#start-best-life .content {
    max-width: 655px;
}

#start-best-life .content h2 {
    color: #fff;
    max-width: 477px;
    margin-bottom: 16px;
}

#start-best-life .content h2 span {
    color: #EE3333;
}

#start-best-life .content p {
    font-family: HelveticaNowDisplay-Regular;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.25px;
    color: #fff;
    margin-bottom: 75px;
}

/* section nine end */

/* Blog section start */
#ib-sec-blogs {
    padding-top: 120px;
    padding-bottom: 40px;
}
#ib-sec-blogs h2{
    color: #000;
}
#ib-sec-blogs .content {
    margin-top: 60px;
}

#ib-sec-blogs .content .category {
    margin-top: 24px;
    background-color: #F1F1F1;
    padding: 2px 12px;
    border-radius: 40px;
    font-family: HelveticaNowDisplay-Regular;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    width: 100px;
    text-align: center;
    margin-bottom: 8px;
    color: #505050;
}

#ib-sec-blogs .content .heading {
    color: #000;
    font-family: HelveticaNowDisplay-Bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.25px;
    text-decoration: none;
}

#ib-sec-blogs .content p.excerpt {
    font-family: HelveticaNowDisplay-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #505050;
    margin-top: 12px;
}

#ib-sec-blogs .slick-slide{
    margin-left: 12px;
    margin-right: 12px;
}
/* #ib-sec-blogs .slick-dots li button:before{
    color: #F1F1F1 !important;
    font-size: 10px;
}
#ib-sec-blogs .slick-dots li.slick-active button:before{
    color: #000 !important;
}

#ib-sec-blogs .slick-dots{
    bottom: -46px !important;
}
#ib-sec-blogs .slick-prev, 
#ib-sec-blogs .slick-next{
    top: auto;
    bottom: -88px;
    width: auto;
    background-color: #F1F1F1;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    z-index: 999999;
}
#ib-sec-blogs .slick-prev{
    left: 16px;
}
#ib-sec-blogs .slick-next{
    right: 16px;
}
#ib-sec-blogs .slick-next:before{
    content: "";
    background-image: url(../images/next-Button.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 10px;
    height: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#ib-sec-blogs .slick-prev:before{
    content: "";
    background-image: url(../images/prev-Button.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 10px;
    height: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

/* Blog section end */

/* faq section start */
#ib-sec-faq {
    padding: 160px 0px;
}

#ib-sec-faq h2.heading {
    max-width: 698px;
    margin-bottom: 80px;
    color: #000;
}
#ib-sec-faq h4.subheading {
    margin-bottom: 32px;
    color: #727272;
}

#ib-sec-faq .accordion-item {
    border: none;
    margin-bottom: 40px;
}

#ib-sec-faq .accordion-button {
    padding: 0px;
    color: #505050;
}

#ib-sec-faq .accordion-body {
    padding: 12px 0px;
    font-family: HelveticaNowDisplay-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #505050;
}

#ib-sec-faq .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    color: #000;
}

#ib-sec-faq .accordion-button::after {
    content: "";
    background-image: url(../images/plus.png);
    font-size: 35px;
    color: #000;
}

#ib-sec-faq .accordion-button:not(.collapsed)::after {
    background-image: url(../images/minus.png) !important;
}

#ib-sec-faq .accordion-button:focus {
    box-shadow: none;
}
#ib-sec-faq .faq-content{
    padding-top: 64px;
    margin-top: 64px;
    border-top: 1px solid #B8B8B8;
}
#ib-sec-faq .faq-content:first-of-type{
    padding-top: 0px !important;
    margin-top: 0px !important;
    border-top: none !important;
}

/* faq section end */

/* footer section start */
footer {
    padding-top: 134px;
    padding-bottom: 98px;
    background-color: #F1F1F1;
}

footer .ib-footer-logo-text {
    font-family: HelveticaNowDisplay-Bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -1px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 29px;
}

footer .ib-footer-logo-text span {
    color: #EE3333;
}

footer .social-icon {
    margin-top: 29px;
}

footer .social-icon div:not(:last-child) {
    margin-right: 20px;
}

footer .social-icon div a {
    font-size: 24px;
    color: #000;
}

footer .ib-footer-menu-heading {
    font-family: HelveticaNowDisplay-ExtraBold;
    font-size: 14px;
    font-weight: 800;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #505050;
    text-transform: uppercase;
}
.footer-menu-heading-arrow{
    display: none;
}
footer .ib-footer-menu{
    margin-top: 32px;
}
footer .ib-footer-menu ul li {
    list-style-type: none;
    margin-bottom: 11px;
}

footer .ib-footer-menu ul li a {
    font-family: HelveticaNowDisplay-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #000;
    text-decoration: none;
}

footer .ib-footer-menu ul li a:hover {
    color: #EE3333;
}

footer .ib-footer-bottom {
    margin-top: 98px;
}

footer .ib-footer-bottom ul {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

footer .ib-footer-bottom ul li {
    list-style-type: none;
    color: #727272;
    margin-right: 21px;
}

footer .ib-footer-bottom ul li:first-child{
    order: 3;
}
footer .ib-footer-bottom ul li:nth-child(2){
    order: 2;
}
footer .ib-footer-bottom ul li:nth-child(3){
    order: 1;
    margin-right: 0px;
}
footer .ib-footer-bottom ul li:last-child{
    order: 4;
}

footer .ib-footer-bottom ul li a {
    color: #000;
    text-decoration: none;
}

/* footer section end */




/* About page start */

#aboutpage-banner .content{
    position: relative;
    padding: 120px 0px;
}

#aboutpage-banner h1{
    font-family: HelveticaNowDisplay-ExtraBold;
    font-size: 64px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: -2px;
    color: #000;
    max-width: 655px;
}
#aboutpage-banner h1 span{
    color: #D92827;
}
#aboutpage-banner p{
    font-family: HelveticaNowDisplay-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
}

#gameday-started{
    padding: 120px 0px;
    background-color: #f1f1f1;
}
#gameday-started h3{
    margin-bottom: 16px;
}
#gameday-started p{
    font-size: 20px;
    line-height: 28px;
}

#well-being{
    padding: 112px 0px;
    background-color: #f1f1f1;
}
#well-being .cards{
    margin-top: 60px;
    row-gap: 24px;
    column-gap: 24px;
}
#well-being .cards .item{
    padding: 48px;
    background-color: #ffffff;
    max-width: 364px;
}
#well-being .cards .item h4{
    font-family: HelveticaNowDisplay-ExtraBold;
    font-size: 36px;
    font-weight: 800;
    line-height: 39px;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-top: 16px;
    color: #000;
}
#well-being .cards .item p{
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
    color: #000;
}
/* About page end */



/* Treatments page start */

#treatments-banner{
    padding: 207px 0px 120px 0px;
}

#treatments-banner .content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#treatments-banner .breadcrumb{
    margin-bottom: 0px;
}
#treatments-banner .breadcrumb a {
    font-family: HelveticaNowDisplay-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 0px;
    color: #000;
    text-decoration: none;
}
#treatments-banner .breadcrumb .breadcrumb-item.active{
    font-family: HelveticaNowDisplay-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #727272;
}

#treatments-banner h1{
    font-family: HelveticaNowDisplay-ExtraBold;
    font-size: 64px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #000;
}
#treatments-banner p{
    font-family: HelveticaNowDisplay-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
    margin-bottom: 48px;
}

#treatments-exploring{
    padding: 71px 0px;
    background: url(../images/Exploring-Section.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#treatments-exploring h2{
    color: #fff;
    margin-bottom: 16px;
}
#treatments-exploring p{
    font-size: 20px;
    line-height: 28px;
    color: #fff;
}

#treatments-benefits{
    padding: 120px 0px 60px 0px;
}
#treatments-benefits .short-text-bef-heading{
    color: #D92827;
    margin-bottom: 12px;
}
#treatments-benefits h2{
    color: #000;
    margin-bottom: 16px;
}
#treatments-benefits p{
    color: #505050;
    font-size: 20px;
    line-height: 28px;
}

#treatments-benefits .content .list-check{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.25px;
}
#treatments-benefits .content .list-check li:not(:last-child){
    margin-bottom: 24px;
}

#treatments-expect{
    padding-bottom: 60px;
}
#treatments-expect .short-text-bef-heading{
    color: #D92827;
    margin-bottom: 12px;
}
#treatments-expect h2{
    color: #000;
    font-weight: 900;
    font-family: HelveticaNowDisplay-Black;
    margin-bottom: 16px;
}
#treatments-expect p{
    color: #000;
    font-size: 20px;
    line-height: 28px;
}

#what-next{
    position: relative;
}
#what-next::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #F1F1F1;
    height: 171px;
    width: 100%;
    z-index: -1;
}
#what-next .ib-bg{
    padding: 64px 0px 64px 73px;
    background: url(../images/what-next.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
#what-next .content{
    max-width: 679px;
}
#what-next h3{
    color: #fff;
    margin-bottom: 16px;
}
#what-next p{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 36px;
}

#ib-sec-testimonial.treatments-testimonials{
    background-color: #F1F1F1;
    padding: 120px 0px;
}
#ib-sec-testimonial.treatments-testimonials .ib-quote,
#ib-sec-testimonial.treatments-testimonials .testimonial-card .slick-next:before,
#ib-sec-testimonial.treatments-testimonials .testimonial-card .slick-prev:before{
    filter: invert(1);
}


/* Legal pages start */

#legal-banner{
    position: relative;
    padding: 112px 0px;
}

#legal-banner h1{
    font-family: HelveticaNowDisplay-ExtraBold;
    font-size: 64px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: -2px;
    color: #000;
    max-width: 620px;
}
#legal-banner p{
    font-family: HelveticaNowDisplay-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #505050;
    margin-top: 36px;
}
#legal-content{
    margin-bottom: 120px;
}
#legal-content h2{
    font-family: HelveticaNowDisplay-ExtraBold;
    font-size: 36px;
    font-weight: 800;
    line-height: 39px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 16px;
}
#legal-content h3,
#popup-cookie-banner h3{
    font-family: HelveticaNowDisplay-Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.3px;
    color: #000;
    margin-top: 32px;
    margin-bottom: 16px;
    text-transform: capitalize;
}
#legal-content p,
#legal-content p a{
    font-family: HelveticaNowDisplay-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
    margin-bottom: 32px;
}
#legal-content ol{
    padding-left: 25px;
}
#legal-content ol li,
#legal-content ul li{
    font-family: HelveticaNowDisplay-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
}
#legal-content ol li ol li:last-child,
#legal-content ol li:last-child{
    margin-bottom: 32px;
}
#legal-content ul{
    padding-left: 30px;
}
#popup-cookie-banner{
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    padding: 64px 0;
    background-color: #fff;
    margin: 0px;
}
#popup-cookie-banner .content{
    max-width: 526px;
}
#popup-cookie-banner p,
#popup-cookie-banner p a{
    font-family: HelveticaNowDisplay-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
}
/* Legal pages end */











/* horizontal scroll */

#horizontal-scoll {
    padding: 60px 0;
  }
  
  .horizontal-scoll-wrapper {
    /* overflow: hidden; */
    /* height: 525px; */
  }
  
  .horizontal {
    display: flex;
    height: 100%;
  }
  
  .horizontal > div {
    /* display: flex;
    flex-shrink: 0; */
    padding: 0 5px;
  }
  
  .horizontal > div:first-child {
    padding: 0 5px 0 15px;
  }
  
  .horizontal > div:last-child {
    padding: 0 15px 0 5px;
  }
  
  .horizontal .card {
    align-items: stretch;
    width: 540px;
    padding: 50px 40px;
    background: #6e4ce1;
    border-radius: 38px;
    color: #f6f2e8;
  }